@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 12.5% 93.73%;
    --foreground: 234 6.76% 29.02%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 216.45 100% 41.96%;
    --primary-foreground: 0 0% 100%;
    --primary-container: 228.65 100% 92.75%;
    --primary-container-foreground: 220.27 100% 14.31%;
    --secondary: 225.6 12.44% 39.41%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 240 20.83% 90.59%;
    --accent-foreground: 234 6.76% 29.02%;
    --destructive: 0 75.47% 41.57%;
    --destructive-foreground: 0 0% 100%;
    --border: 234.55 4.49% 48.04%;
    --input: var(--accent);
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 240 6.06% 12.94%;
    --foreground: 234.55 10.48% 79.41%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 225.79 100% 85.1%;
    --primary-foreground: 217.95 100% 22.94%;
    --primary-container: 216.95 100% 32.16%;
    --primary-container-foreground: 228.65 100% 92.75%;
    --secondary: 229.29 29.17% 81.18%;
    --secondary-foreground: 225 22.22% 21.18%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 234 6.76% 29.02%;
    --accent-foreground: 234.55 10.48% 79.41%;
    --destructive: 6.43 100% 83.53%;
    --destructive-foreground: 357.14 100% 20.59%;
    --border: 234.55 5.16% 58.24%;
    --input: var(--accent);
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .next-link {
    @apply text-inherit bg-inherit decoration-transparent;
  }
}
