:root {
  --md-source: #0066ff;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001849;
  --md-ref-palette-primary20: #002b75;
  --md-ref-palette-primary25: #00358c;
  --md-ref-palette-primary30: #003fa4;
  --md-ref-palette-primary35: #004abd;
  --md-ref-palette-primary40: #0054d6;
  --md-ref-palette-primary50: #216dff;
  --md-ref-palette-primary60: #5e8bff;
  --md-ref-palette-primary70: #8aa8ff;
  --md-ref-palette-primary80: #b3c5ff;
  --md-ref-palette-primary90: #dae1ff;
  --md-ref-palette-primary95: #eef0ff;
  --md-ref-palette-primary98: #faf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #151b2c;
  --md-ref-palette-secondary20: #2a3042;
  --md-ref-palette-secondary25: #353b4d;
  --md-ref-palette-secondary30: #414659;
  --md-ref-palette-secondary35: #4c5265;
  --md-ref-palette-secondary40: #585e71;
  --md-ref-palette-secondary50: #71768b;
  --md-ref-palette-secondary60: #8b90a5;
  --md-ref-palette-secondary70: #a5aac1;
  --md-ref-palette-secondary80: #c1c6dd;
  --md-ref-palette-secondary90: #dde2f9;
  --md-ref-palette-secondary95: #eef0ff;
  --md-ref-palette-secondary98: #faf8ff;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #2b122b;
  --md-ref-palette-tertiary20: #422741;
  --md-ref-palette-tertiary25: #4e324d;
  --md-ref-palette-tertiary30: #5a3d58;
  --md-ref-palette-tertiary35: #674965;
  --md-ref-palette-tertiary40: #735471;
  --md-ref-palette-tertiary50: #8e6d8a;
  --md-ref-palette-tertiary60: #a986a5;
  --md-ref-palette-tertiary70: #c5a0c0;
  --md-ref-palette-tertiary80: #e1bbdc;
  --md-ref-palette-tertiary90: #ffd6f9;
  --md-ref-palette-tertiary95: #ffebf9;
  --md-ref-palette-tertiary98: #fff7fa;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral50: #77767a;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #acaaaf;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral90: #e4e2e6;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral98: #fbf8fd;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191b23;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant40: #5c5e67;
  --md-ref-palette-neutral-variant50: #757680;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant70: #aaaab4;
  --md-ref-palette-neutral-variant80: #c5c6d0;
  --md-ref-palette-neutral-variant90: #e2e2ec;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant98: #faf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: 216.45 100% 41.96%;
  --md-sys-color-on-primary-light: 0 0% 100%;
  --md-sys-color-primary-container-light: 228.65 100% 92.75%;
  --md-sys-color-on-primary-container-light: 220.27 100% 14.31%;
  --md-sys-color-secondary-light: 225.6 12.44% 39.41%;
  --md-sys-color-on-secondary-light: 0 0% 100%;
  --md-sys-color-secondary-container-light: 229.29 70% 92.16%;
  --md-sys-color-on-secondary-container-light: 224.35 35.38% 12.75%;
  --md-sys-color-tertiary-light: 303.87 15.58% 39.02%;
  --md-sys-color-on-tertiary-light: 0 0% 100%;
  --md-sys-color-tertiary-container-light: 308.78 100% 91.96%;
  --md-sys-color-on-tertiary-container-light: 300 40.98% 11.96%;
  --md-sys-color-error-light: 0 75.47% 41.57%;
  --md-sys-color-error-container-light: 5.85 100% 91.96%;
  --md-sys-color-on-error-light: 0 0% 100%;
  --md-sys-color-on-error-container-light: 358.15 100% 12.75%;
  --md-sys-color-background-light: 285 100% 99.22%;
  --md-sys-color-on-background-light: 240 6.9% 11.37%;
  --md-sys-color-surface-light: 285 100% 99.22%;
  --md-sys-color-on-surface-light: 240 6.9% 11.37%;
  --md-sys-color-surface-variant-light: 240 20.83% 90.59%;
  --md-sys-color-on-surface-variant-light: 234 6.76% 29.02%;
  --md-sys-color-outline-light: 234.55 4.49% 48.04%;
  --md-sys-color-inverse-on-surface-light: 270 15.38% 94.9%;
  --md-sys-color-inverse-surface-light: 240 4% 19.61%;
  --md-sys-color-inverse-primary-light: 225.79 100% 85.1%;
  --md-sys-color-shadow-light: 0 0% 0%;
  --md-sys-color-surface-tint-light: 216.45 100% 41.96%;
  --md-sys-color-outline-variant-light: 234.55 10.48% 79.41%;
  --md-sys-color-scrim-light: 0 0% 0%;
  /* dark */
  --md-sys-color-primary-dark: 225.79 100% 85.1%;
  --md-sys-color-on-primary-dark: 217.95 100% 22.94%;
  --md-sys-color-primary-container-dark: 216.95 100% 32.16%;
  --md-sys-color-on-primary-container-dark: 228.65 100% 92.75%;
  --md-sys-color-secondary-dark: 229.29 29.17% 81.18%;
  --md-sys-color-on-secondary-dark: 225 22.22% 21.18%;
  --md-sys-color-secondary-container-dark: 227.5 15.58% 30.2%;
  --md-sys-color-on-secondary-container-dark: 229.29 70% 92.16%;
  --md-sys-color-tertiary-dark: 307.89 38.78% 80.78%;
  --md-sys-color-on-tertiary-dark: 302.22 25.71% 20.59%;
  --md-sys-color-tertiary-container-dark: 304.14 19.21% 29.61%;
  --md-sys-color-on-tertiary-container-dark: 308.78 100% 91.96%;
  --md-sys-color-error-dark: 6.43 100% 83.53%;
  --md-sys-color-error-container-dark: 355.92 100% 28.82%;
  --md-sys-color-on-error-dark: 357.14 100% 20.59%;
  --md-sys-color-on-error-container-dark: 5.85 100% 91.96%;
  --md-sys-color-background-dark: 240 6.9% 11.37%;
  --md-sys-color-on-background-dark: 270 7.41% 89.41%;
  --md-sys-color-surface-dark: 240 6.9% 11.37%;
  --md-sys-color-on-surface-dark: 270 7.41% 89.41%;
  --md-sys-color-surface-variant-dark: 234 6.76% 29.02%;
  --md-sys-color-on-surface-variant-dark: 234.55 10.48% 79.41%;
  --md-sys-color-outline-dark: 234.55 5.16% 58.24%;
  --md-sys-color-inverse-on-surface-dark: 240 6.9% 11.37%;
  --md-sys-color-inverse-surface-dark: 270 7.41% 89.41%;
  --md-sys-color-inverse-primary-dark: 216.45 100% 41.96%;
  --md-sys-color-shadow-dark: 0 0% 0%;
  --md-sys-color-surface-tint-dark: 225.79 100% 85.1%;
  --md-sys-color-outline-variant-dark: 234 6.76% 29.02%;
  --md-sys-color-scrim-dark: 0 0% 0%;
}
